body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/static/lake.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 500px;
  border-radius: 5px;
  gap: 1;
}

.pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.social_wrapper {
  display: flex;
  gap: 35px;
}
p {
  margin-top: 10px;
}
.name {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  margin: 20px;
  width: 60%;
  size: 5;
  color: black;
}
a :hover {
  transform: scale(1.2);
}
